.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
  
  .submit-form {
    max-width: 300px;
    margin: auto;
  }
  
  .edit-form {
    max-width: 300px;
    margin: auto;
  }
  .listquestion {
    max-width: 500px;
    margin: 50px auto;
  }
  .input-group-addon.my-addon {
    background: white;
    padding-top: 10px;
  }
  