.option {
	width: 400px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
    margin-top: 10px;
    border: 1px solid red;
}

input[name="question"]{
    width: 400px ;
	padding: 12px ;
	border: 1px solid #ccc ;
	border-radius: 4px ;
	resize: vertical ;
    margin-top: 10px ;
    border: 3px solid #000 !important;
}

.option input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

.option input[type=button]:hover {
    background-color: #45a049;
  }

 .checkbox-section input[type="checkbox"] {
	margin-top: 20px;
	width: 40px;
	height: 40px;
}

.checkbox-section {
	display: flex;
	flex-direction: column;
	/* margin-top: 60px; */
	margin-left: 10px;
}
.question-section {
	display: flex;
	flex-direction: column;
}

.modal-section {
    display: flex;
}
.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    cursor: pointer;
}